#page-contaner{
    min-height: 100vh;
    overflow-x: hidden;
}
a{
    text-decoration: none;
    color: black;
}
a:hover {
    opacity: .7;
}
.material-icons:hover {
    opacity: .7;
}

.material-icons.md-18 {
    font-size: 18px;
}
.material-icons.md-24 {
    font-size: 24px;
}
.material-icons.md-36 {
    font-size: 36px;
}
.material-icons.md-48 {
    font-size: 48px;
}
#menu{
    position: fixed;
    float: left;
    top: 70px;
    width: 200px;
    padding: 20px;
    padding-top: 15px;
    height: 100%;
    bottom: 0px;
    background-color: rgb(250, 250, 250);
    /*box-shadow: 2px 2px 5px rgb(160, 160, 160);*/
    font-size: 16px;
    z-index: +1;
    left: -3px;
}
#main-content1{
    float: left;
    position: relative;
    height: 100%;
    width: 1090px;
    top: 75px;
    left: 260px;
}
#main-content2{
    float: left;
    position: relative;
    height: 100%;
    width: 850px;
    top: 75px;
    left: 260px;
}
.class-row{
    display: inline-flex;
}
.class-section{
    position: relative;
    height: 200px;
    width: 300px;
    margin: 30px;
    margin-right: 5px;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 2px 2px 5px rgb(160, 160, 160);
}
#icon{
    float:left;
}
h3{
    margin-left: 1em;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 18px;
}
i, h3{
    display: inline-block;
    vertical-align: middle;
}
h1{
    margin-bottom: 50px;
    margin-left: 40px;
    font-size: 45px;
    display: inline-block;
    font-size: 45px;
}
.class-name {
    padding: 0px;
    display: inline-block;
    margin-bottom: 0px;
    font-size: 30px;
    letter-spacing: 2px;
    margin-left: 30%;
    color: #FCEDDA;
    margin-top: 0px;
}
.inline-div {
    display: inline;
  }
body {
    font-family: 'Roboto', sans-serif;
}
#top-bar{
    top: 0px;
    position: fixed;
    float: left;
    background-color: #DE5940;
    width: 1445px;
    height: 30px;
    padding-bottom: 45px;
    z-index: +2;
    left: -3px;
}
#home-courses{
    position: relative;
    left: 40px;
    font-size: 30px;
    letter-spacing: 2px;
}
h4{
    font-size: 20px;
    padding-left: 70px;
    color: #656464;
}
.class-option {
    border-radius: 15px;
    background-color: white;
    width: 90%;
    height: 300px;
    text-align: center;
    margin-left: 40px;
    margin-top: 30px;
    box-shadow: 2px 2px 5px rgb(160, 160, 160);
}
#activity {
    float: right;
    position: relative;
    height: 100vh;
    width: 290px;
    top: 55px;
    left: -10px;
}
#activity-text {
    font-size: 25px;
    text-align: center;
    margin-bottom: 20px;
}
#footer {
    margin-top: 255px;
    bottom: 0;
    text-align: center;
    align-items: center;
    position: relative;
}
#footer-class{
    margin-top: 65px;
    bottom: 0;
    text-align: center;
    align-items: center;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid rgb(165, 104, 104);
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.activity-message {
    font-size: 14px;
    margin-left: 0.5em;
}
.act-adj {
    margin-left: 20px;

}
i, p.activity-message{
    display: inline-block;
    vertical-align: middle;
}
.activity-timestamp {
    color: rgb(47, 47, 160);
    margin-left: 2.8em;
    margin-top: -8px;
    font-size: 11px;
}
img.round-border {
    border-radius: 15px 15px 0px 0px;
}
.container {
    position: relative;
    text-align: center;
    color: white;
}
.middletext {
    font-size: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    color: white;
}
#Bevy {
    margin-top: 0px;
    font-family: 'Teko';
    font-size: 60px;
    letter-spacing: 15px;
    color: #FCEDDA;
}

.thin {
    font-weight: 200;
}  
.light {
    font-weight: 500;
}
.thick {
    font-weight: bold;
}
.thicker {
    font-weight: 900;
}
.class-notif {
    font-size: 14px;
    margin-left: 20px;
    line-height: 20px;
    color: #656464;
}
