#page-contaner{
    min-height: 100vh;
    overflow-x: hidden;
}
a{
    text-decoration: none;
    color: black;
}
a:hover {
    opacity: .7;
}
.material-icons:hover {
    opacity: .7;
}

.material-icons.md-18 {
    font-size: 18px;
}
.material-icons.md-24 {
    font-size: 24px;
}
.material-icons.md-36 {
    font-size: 36px;
}
.material-icons.md-48 {
    font-size: 48px;
}
#menu{
    background-color: #cfa69e;
    position: relative;
    float: left;
    width: 250px;
    padding: 40px;
    height: 100%;
    bottom: 0px;
}
#main-content{
    float: left;
    position: relative;
    height: 100%;
    background-color: cyan;
    width: 1090px;
    top: 0px;
}
.class-row{
    display: inline-flex;
}
.class-section{
    position: relative;
    height: 350px;
    width: 409px;
    margin: 60px;
    background-color: grey;
    border-radius: 40px;
}
#icon{
    float:left;
}
h3{
    margin-left: 1.5em;
    margin-top: 40px;
    margin-bottom: 40px;
}
i, h3{
    display: inline-block;
    vertical-align: middle;
}
h1{
    margin-bottom: 50px;
}
body {
    font-family: 'Roboto', sans-serif;
}
#top-bar{
    position: relative;
    float: left;
    background-color: goldenrod;
    width: 1420px;
    height: 100px;
}
h4{
    font-size: 25px;
    padding-left: 70px;
}
