#page-contaner{
    min-height: 100vh;
    overflow-x: hidden;
}
a{
    text-decoration: none;
    color: black;
}
a:hover {
    opacity: .7;
}
.material-icons:hover {
    opacity: .7;
}

.material-icons.md-18 { 
    font-size: 18px; 
}
.material-icons.md-24 { 
    font-size: 24px; 
}
.material-icons.md-36 { 
    font-size: 36px; 
}
.material-icons.md-48 { 
    font-size: 48px; 
}

#menu{
    background-color: #cfa69e;
    position: relative;
    float: left;
    width: 250px;
    padding: 40px;
    min-height: 100vh;
}
#main-content{
    float: right;
    position: relative;
    right: 856px;

}
.class-section{
    position: relative;
    height: 150px;
    margin-left: 60px;

}
#icon{
    float:left;
}
h3{
    margin-left: 1.5em;
    margin-top: 40px;
    margin-bottom: 40px;
}
i, h3{
    display: inline-block;
    vertical-align: middle;
}
h1{
    margin-bottom: 50px;
}
body {
    font-family: 'Roboto', sans-serif;
}
